header {
    background-color: #F6AAAB;
    color: #FAF9FA;
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    padding: 5px;
    padding-bottom: 25px;
    margin: 0;
    font-family: bebas neue;
}
footer {
    width: auto;
    background-color: #014853;
    height: 66px;
    text-align: center;
    font-family: bebas neue;
    padding-top: 47px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
    color: #FBF7F7;
}
section   {
    background-color: #60E4FA;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
    border: 18px dotted #F9FBFB;
}
h2 {
    font-family: bebas neue;
    text-decoration: underline;
    color: #024B4C;
}
nav  {
    height: auto;
	width: auto;
    background-color: #52E3FA;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}
nav ul li {
    display: inline-block;
    margin-left: 10 px;
    margin-right: 10 px;
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
}

main {
    background-color: #F4AAAB;
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#picture1 {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#seccion3 {
    width: auto;
    height: auto;
    overflow: auto;
}
.margin1 {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.mar {
}
.opacidad1 {
    opacity: 0.5;
}
.opacidad2 {
    opacity: 0.25;
    filter: grayscale(50%);
}
.brillo {
    filter: brightness(100%);
}
.grises {
    filter: grayscale(100%);
}
.blur {
    filter: blur(7px);
}
.desenfoque {
    filter: blur(5px);
}
.contraste {
    filter: contrast(50%);
}
.saturacion {
    filter: saturate(20%);
}
.sepia {
    filter: sepia(70%);
}
.invertir {
    filter: invert(70%);
}

.video1 {
    width: 50%;
    padding-left: 0px;
}
input[type=text] {
	width: 80%;
	padding: 20px;
	margin: 10px 0;
	background-color:#F4AAAB;
	color:#194853;
	border: double 5px #FEFCFD;
}
label {
    font-family: montserrat;
    color: #046C84;
}

input[type=text]:focus{
	background-color:#194853;
	color:#FCFCFC;
}

input[type=submit]{
	background-color: #F4AAAB;
	color:aliceblue;
	font-weight:900;
	margin: 10px 0;
	border-bottom-style: dashed;
}
input[type=button]{
	with:35%;
	background-color: #F4AAAB;
	color:aliceblue;
	font-weight:900;
	margin: 10px 0;
}
